body{
  background: linear-gradient(to right,#00628c, #00b3ff);
}

*{
  font-family: "ubuntu", sans-serif;
}
#media{
  z-index:99;
  position:fixed;
  display: none;
  left: 25%;
  top: 30%;
  margin: auto;
  border: 3px solid black;
  border-radius: 40px;
  padding: 40px;
  font-family: "ubuntu", sans-serif;
  font-weight: bold;
  background: #014b6b;
}

#media input{
  width: 50%;
  margin: 10px;
  padding: 3px;

}

#media #advice {
  font-size: 13px;
  color: green;
}

#error_Message{
  color: red;
  font-size: 13px;
}

#return_Button{
  border: 3px solid black;
  border-radius: 20px;
  margin: auto;
}

#return_Button:hover{
  color: white;
  background: black;
  transition: 0.2s;
}

#media select{
  border-radius: 10px;
  color: black;
  font-weight: bold;

}

#media option {
  border-radius: 10px;
  color: black;
  font-weight: bold;
}
#media option:active{
  width: 300px;
  transition: 0.3s;
}

#media input{
  border-radius: 20px;
  border:3px solid black;
}
.code{
  width: 40%;
  border: 3px solid black;
  border-radius: 30px;
  background: black;
  font-family: "Monaco", "Lucida Console", monospace;
  color: white;
  padding: 30px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 2%;
  margin-top: 2px;
  display: block;
}

#work_Place{
  border-radius: 30px;
  padding: 30px;
  margin: 20px;
  display: none;

}

#work_Place{
  border: none;
  border-radius: 0px;
  background: none;
}

#work_Place p {
  margin: 5px;
}

#work_Place input {
  margin: 5px;
}

#work_Place textarea {
  margin: 5px;
}

#work_Place h1 {
  margin: 5px;
}

#work_Place  button{
  margin: 5px;
}

#color{
  border: 1px solid black;
  margin: 2px;
  float: left;
  }

#css_Panel{
  display: none;
  position: absolute;
  padding: 30px;
  border: 3px solid black;
  border-radius: 5px;
  background: #014b6b;
  z-index: 99;
  font-style: "ubuntu", sans-serif;
  height: 350px;
  overflow: auto;
}

#close_Btn{
  width: 30px;
  height: 30px;
  color: red;
  border-radius: 0px 20px 0px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  box-shadow: 0px 0px 0px 0px;
  cursor:  pointer;
  border: none;
  background: none;
}
input{
	border-radius: 30px;
	border:2px solid black;
	padding: 3px;
	margin: 3px;
  background: #189ed9;
  box-shadow: 1px 1px 1px 1px #3a4f4c;
	}

  .code_Title{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
    color: white;
  }
#char_Code{
  width: 20px;
  height: 30px;
  margin: 3px;
  padding: 1px;
  border: 1px solid #014b6b;
  box-shadow: 2px 3px 1px 2px #189ed9;
  transition: 0.2s;
}

#char_Code:hover{
  transition: 0.2s;
  width: 70px;
}

#char_Code ul {
  border: 1px solid #3783e6;
}

#bar{
  position: absolute;
  right: 3%;
  width:150px;
  position: absolute;
  top: 10px;
}

#bar div{
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background: #189ed9;
  text-align: center;
  margin: 0px;
  margin-top: 10px;
}

#bar div:hover{
  transition: 0.3s;
  color: #189ed9;
  background: black;
  cursor: pointer;
  border: 2px solid white;
}

#looking_Text{
  opacity: 0;

}

#looking{
  transition: 0.4s;
  transition: 10;
  width: 20%;
  height: 20px;
  cursor: pointer;
  user-select: none;
}

#looking:hover {
  transition: 0.1s;
  width: 100%;
}

#looking #eye{
  position: absolute;
  left: 10%;
}

#looking:hover #eye{
  transition: 1s;
  position: absolute;
}

#looking:hover #looking_Text{
  transition: 1s;
  opacity: 1;
  font-weight: bold;
  position: absolute;
  right: 10%;
}

#work_Place input{
  color: black;
  background: white;
  border: hidden;
  border-radius: 0px;
}

#try_Your_Self{
  background: white;
  top: 15%;
  width: 30%;
  position: absolute;
  right: 5%;
  border: 3px solid black;
  height: 500px;
  overflow-y: auto;
  position: fixed;
  opacity: 0;
}

.back_To_Home{
  border-radius: 2px;
  padding: 2px;
  width: 200px;
}

.back_To_Home_Link{
  margin: 3px;
  padding: 5px;
  border: 3px solid black;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 10px;
}

.back_To_Home:hover .back_To_Home_Link{
  background: black;
  color: #189ed9;
}

#share_Icon{
  transition: 0.5s;
  width: 25px;
  position: absolute;
  right: 30px;
  top: 70px;
  border: 3px solid black;
  padding: 5px;
  border-radius: 10px;
  display: none;
}

#share_Bar{
  border: 3px solid black;
  position: absolute;
  display: none;
  top: 35%;
  left: 30%;
  background-color: #014b6b;
  padding: 10px;
  border-radius: 50px;
  width: 40%;
}

#link_Pos{
  width: 80%;
  padding: 3px;
  margin: 10%;
}

.add_Btn{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  padding: 0px;
}
.add_Btn:hover{
  color: #00628c;
  background-color: black;
}
