
body{background-image:linear-gradient(to right, #0400ff,#0059ff,#00aaff,#00ffee);}
#asdf{font-size:15px;}
#a60{font-size:22px;}
#asdasd{font-size:15px;}
#asdf89{font-size:15px;}
#asdfsadfasfd{font-size:15px;}
#asdfasdf17{font-size:15px;}
#asdf99{font-size:15px;}
#qwer{font-size:15px;}
#asdfasdfasdf1{font-size:15px;}